.app-list-item {
    font-size: 1.25rem;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}

.app-list-item .btn-star {
    color: rgb(0, 38, 255);
}

.app-list-item .btn-trash {
    color: red;
}

.app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.app-list-item-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}

.app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
    color: rgb(0, 38, 255);
}

.app-list-item.important .btn-star {
    color: #aeaeae;
}

.app-list-item .edit-input {
    display: block;
    cursor: pointer;
    width: 300%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.app-list-item.important .edit-input::-webkit-input-placeholder {
    color: rgb(0, 38, 255);
}

.app-list-item.important .edit-input {
    color: rgb(0, 38, 255);
}